@import "tailwindcss";

@theme {
  --font-sans: Roboto Variable;
  --font-raleway: Raleway Variable;

  --height-nav-height: 50px;

  --color-primary: oklch(0.48 0.1751 27.03);
  --color-night: #101114;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility content-area {
  height: calc(100vh - (var(--height-nav-height)));
}

@layer base {
  body {
    @apply bg-zinc-950 text-white;
  }

  iframe:focus-visible,
  .ReactVirtualized__Grid {
    outline: none;
  }
}
