@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: Roboto Variable;
  --font-raleway: Raleway Variable;

  --height-nav-height: 50px;

  --color-primary: oklch(0.59 0.1973 24.83);
  --color-night: #101114;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    @apply bg-zinc-950 text-white;
  }

  iframe:focus-visible {
    outline: none;
  }
}

@utility content-area {
  height: calc(100vh - (var(--height-nav-height)));
}

@utility bg-timeline-card {
  background-color: oklch(0.24 0.1036 19.47);
}
